<app-header backButton="/auth" title="Register"></app-header>
<ion-content>
    <div class="d-flex-center">
        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

            <app-logo></app-logo>


            <app-custom-input
            icon="person-outline"
            [control]="form.controls.name"
            type="text"
            label="Nombre"
            ></app-custom-input>
        <div class="Validators" *ngIf="form.controls.name && form.controls.name.touched">
            <div *ngIf="form.controls.name.errors?.['required']">El Nombre es Requerido</div>
            <div *ngIf="form.controls.name.errors?.['minlenght']">El Nombre debe Tener al Menos 4 Caracteres</div>
        </div>

            <app-custom-input
            autocomplete="email"
            icon="mail-outline"
            [control]="form.controls.email"
            type="email"
            label="Correo"
            ></app-custom-input>
        <div class="Validators" *ngIf="form.controls.email && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors?.['required']">El Correo es Requerido</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingrese Un Correo Valido</div>
        </div>
            <app-custom-input
            [control]="form.controls.password" 
            icon="lock-closed-outline"
            type="password"
            label="Contraseña"
            
            ></app-custom-input>

            
            <div class="Validators" *ngIf="form.controls.password && form.controls.password.touched">
                <div *ngIf="form.controls.email.errors?.['required']">La Contraseña es Requerida</div>
                <div *ngIf="form.controls.email.errors?.['email']">Ingrese Una Contraseña Valida</div>
            </div>
            <ion-button color="success" expand="block" mode="ios" class="submit" type="submit">
                Registrarse
                <ion-icon slot="end" name="person-add-outline"></ion-icon>
            </ion-button>
            
        </form>

    </div>
    
    
</ion-content>
