ion-content {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --padding-top: 20px;
}

ion-item {
    font-size: 14px;
    color: var(--ion-color-light);
    --background: var(--ion-color-primary); /* Fondo azul */

    ion-icon {
        color: var(--ion-color-light);
    }

    &.active {
        color: black; /* Texto amarillo cuando activo */
        ion-icon {
            color: black; /* Icono amarillo cuando activo */
        }
    }
}

h4{
    margin-top: 5px;
    font-weight: bold;
}

ion-menu{
    --width: 254 px;
    --min-width:254px;
    outline: none;
}
ion-footer {
    --background: var(--ion-color-primary); /* Fondo azul */
}
.empty-icon{
    font-size: 100px;
}
ion-avatar{
    width: 120px;
    height: 120px;
    margin: 0 auto;
}